

@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<p>
    MealMaker is an app designed to help you decide what to make for dinner! 
    Clicking the <a asp-area="" asp-controller="FoundationFood" asp-action="MealMaker">Meal Maker</a> link will bring you to your random list of ingredients. 
    You can retry as many times as you like and each time will be returned with random food items!
    All foods in the database can be viewed on the <a asp-area="" asp-controller="FoundationFood" asp-action="ListFoundationFoods">All Foods</a> page.
</p>
<p>Designed and created by HouseWren Development</p>
<h2>Upcoming features:</h2>
<ul>
    <li>Contact section - reach out directly to House Wren Development -> <strong>Released!</strong> Click the Contact link at the top right!</li>
    <li>Paging on All Foods list - view the foods in pages of 20 items instead of one long list</li>
    <li>Selecting a Food to stay consistent while all other foods are randomly returned</li>
    <li>Food Logger app to save meals and view meals' nurtritional facts</li>
</ul>

