@model HouseWrenDevelopment.Models.Contact.ContactForm;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	ViewData["Title"] = "Contact";
}
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>Contact</h2>
            <p>House Wren Development</p>
        </div>
    </div>
	<div class="container mt-5">
        <div class="info-wrap">
            <div class="row">
                    <div class="col-lg-3 col-md-6 info">
                        <i class="bi"><img src="~/images/icons8-bird-16.png" alt="House Wren Development Bird logo" height="26px" width="26px"/></i>
                        <h4>Portfolio</h4>
                        <p>housewrendevelopment</p>
                    </div>
                    <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
					    <a href="https://www.linkedin.com/in/housewrendevelopment/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        <h4>LinkedIn</h4>
                        <p>housewrendevelopment</p>
                    </div>

                    <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
					    <a href="https://www.instagram.com/housewrendevelopment/" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <h4>Instagram</h4>
                        <p>housewrendevelopment</p>
                    </div>

                    <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
                    <i class="bi"><a href="https://github.com/housewrendevelopment"><img src="~/images/github-mark-white.png" alt="GitHub logo" height="36px" width="36px" /></a></i>
                        <h4>GitHub</h4>
                        <p>housewrendevelopment</p>
                    </div>
            </div>
        </div>
            <form asp-action="Contact" asp-controller="Home" method="post" class="email-form">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="Name" name="name" placeholder="Your name">The best way to refer to you:</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Hugh Mann" required>
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        <label asp-for="Email" name="email">The best email address to reach you at:</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="email@address.com" required>
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Subject" name="subject">The best description of why you are reaching out:</label>
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="the weather" required>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Email">Your best message to House Wren Development:</label>
                    <textarea class="form-control" asp-for="Message" name="message" rows="8" placeholder="Sure is {currentWeather} outside. Have a day." required></textarea>
                </div>
                <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
     </div>
</section><!-- End Contact Section -->