@{
    ViewData["Title"] = "Thank you";
}

<!-- ======= Specials Section ======= -->
<section id="specials" class="specials">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Message Sent</h2>
            <p>Thank you for contacting House Wren Development! Your message will be reviewed as soon as possible.</p>
        </div>
        <div class="btns">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn-menu animated fadeInUp scrollto">Back to Home</a>
        </div>
    </div>
</section>