html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }    
  /*.build-meal .form-group {
    width: 250%;
  }*/
}
@media (min-width: 992px) {
    /*.build-meal .form-group {
        width: 300%;
    }*/
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#main-body-container {
    padding-top: 80px;
}
#carousel-item-one {
    background: url("../images/min-hero1-meals-luisa-brimble-2RrBE90w0T8-unsplash.jpg");
}
#carousel-item-two {
    background: url("../images/min-hero2-foodVegetables-nathan-dumlao-bRdRUUtbxO0-unsplash.jpg");
}
#carousel-item-three {
    background: url("../images/min-hero3-notebook-kelly-sikkema-9OGNpJPVMZ8-unsplash.jpg");
}
#header {
    top:0px;
}

.social-links{
    padding-top:10px;
}
.contact form textarea {
    width: 100%;
}
.contact .info-wrap h4 {
    padding-top:10px;
}
.contact .info-wrap .row .info p {
    font-size: 10px;
}

.contact .email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}

.contact .email-form .form-group {
  padding-bottom: 8px;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .email-form input {
  height: 44px;
}

.contact .email-form textarea {
  padding: 10px 12px;
}

.contact .email-form button {
  background: #ffb03b;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .email-form button:hover {
  background: #ffa012;
}
.view-meal {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    white-space: pre-wrap;
    overflow-x: auto;
}
.btn-meal {
    background: #ffb03b;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-meal-container {
    text-align: center;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #FFB03B;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


